<?xml version="1.0"?>

<configuration>
	<connectionStrings>
        <add name="conn" connectionString="Data Source=iemhost;Initial Catalog=building;Persist Security Info=True;User ID=sa;Password=Jky1234;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>

		<compilation debug="true"/>

		<authentication mode="Windows"/>

	</system.web>
</configuration>
